.landing-page {

  min-height: 100vh;

  width: 100vw;

  overflow: hidden;

  background:
    linear-gradient(
      135deg,
      #0033a1,
      #001b5e
    );

  color: white;

}

/* NAVBAR */

.landing-navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 10px 70px;

}

.brand-image {

  height: 95px;

  object-fit: contain;

}

.nav-links {

  display: flex;

  align-items: center;

  gap: 30px;

}

.nav-links a {

  text-decoration: none;

  color: rgba(255,255,255,0.82);

  transition: 0.2s ease;

}

.nav-links a:hover {

  color: white;

}

.login-button {

  background: white;

  color: #0033a1 !important;

  padding: 12px 24px;

  border-radius: 14px;

  font-weight: 700;

}

/* HERO */

.hero-container {

  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  min-height: calc(100vh - 250px);

  padding: 0 70px;

}

/* LEFT */

.hero-left {

  max-width: 650px;

}

.hero-badge {

  display: inline-block;

  background:
    rgba(255,255,255,0.12);

  padding: 10px 18px;

  border-radius: 999px;

  margin-bottom: 30px;

  font-size: 14px;

}

.hero-left h1 {

  font-size: 42px;

  line-height: 1.05;

  font-weight: 800;

  margin-bottom: 30px;

}

.hero-left p {

  color: rgba(255,255,255,0.8);

  font-size: 17px;

  line-height: 1.7;

  margin-bottom: 28px;

}

/* BUTTONS */

.hero-buttons {

  display: flex;

  gap: 18px;

  margin-bottom: 28px;

}

.primary-btn {

  background: white;

  color: #0033a1;

  text-decoration: none;

  padding: 18px 28px;

  border-radius: 18px;

  font-weight: 700;

}

.secondary-btn {

  background: transparent;

  border:
    1px solid rgba(255,255,255,0.25);

  color: white;

  padding: 18px 28px;

  border-radius: 18px;

}

/* MINI CARDS */

.mini-cards {

  display: flex;

  gap: 18px;

  flex-wrap: wrap;

}

.mini-card {

  background:
    rgba(255,255,255,0.08);

  border:
    1px solid rgba(255,255,255,0.1);

  border-radius: 20px;

  padding: 22px;

  min-width: 180px;

  display: flex;

  flex-direction: column;

  gap: 12px;

}

.mini-card i {

  font-size: 28px;

}

.mini-card span {

  color: rgba(255,255,255,0.88);

}

/* RIGHT */

.hero-right {

  display: flex;

  justify-content: center;

}

.school-card {

  display: flex;

  justify-content: center;

  align-items: center;

}

.school-card img {

  transition: 0.35s ease;

  width: 550px;

  height: 400px;

  object-fit: cover;

  border-radius: 35px;

  box-shadow:
    0 20px 45px rgba(0,0,0,0.30);


}

.school-card img:hover {

  transform: scale(1.02);

}

/* RESPONSIVE */

@media (max-width: 992px) {

  .hero-container {

    grid-template-columns: 1fr;

    padding: 50px 30px;

    gap: 50px;

  }

  .landing-navbar {

    padding: 25px 30px;

  }

  .nav-links {

    display: none;

  }

  .hero-left h1 {

    font-size: 52px;

  }

  .school-card {

    width: 100%;

    height: auto;

    padding: 40px;

  }

}